{% extends "base.html" %}
{% block body %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div id="main-content">
                
                <div class="row">
                   
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <div style="margin: 2rem auto;">
                                    <h4>Add User</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="horizontal-form-elements">
                                    <form class="form-horizontal m-t-5" method="POST">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Name</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.name}}
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.address}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">City</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.city}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Country</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.country}}
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                            <!-- /# column -->
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Organization</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.organization}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Job Title</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.job_title}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Website</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.website}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Scanning Status</label>
                                                    <div class="col-sm-10">
                                                        {{profile_form.scanning_status}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- /# column -->
                                        </div>
                                        <div style="margin:2.5rem auto; width: 0%;">
                                            <button class="btn btn-success">Add User</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
  
{% endblock body %}

    