{% extends "base.html" %}
{% block body %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div id="main-content">
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header pr">
                                <h4>SignIn Request</h4>
                                <form action="" method="get">
                                    <div class="search-action">
                                        <div class="search-type dib">
                                            <input style="width: 135%;" class="form-control input-rounded" name="search" placeholder="Search by Email or Name"
                                                type="text">
                                        </div>
                                    </div>
                                </form>
    
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                            <tr>
                                                <th>Email</th>
                                                <th>Full Name</th>
                                                <th>Organization</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>Country</th>
                                                <th>Job Title</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for profile in profiles %}
                                            <tr>
                                                <td>{{profile.user.email}}</td>
                                                <td>{{profile.name}}</td>
                                                <td>{{profile.organization}}</td>
                                                <td>{{profile.address}}</td>
                                                <td>{{profile.city}}</td>
                                                <td>{{profile.country}}</td>
                                                <td>{{profile.job_title}}</td>
                
                                                <td>
                                                    {% if profile.user.is_active %}
                                                    <span class="text-success">Accepted</span>
                                                    {% elif profile.rejected %}
                                                    <span class="text-danger">Rejected</span>
                                                    {% else %}
                                                    <a href="{% url 'signin_accept' profile.user.id %}" class="btn btn-success">accept</a>
                                                    <a href="{% url 'signin_reject' profile.user.id %}" class="btn btn-danger  m-l-5">reject</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                
            </div>
        </div>
    </div>
</div>
  
{% endblock body %}

    