<html>
{% load static %}

<head>
    <Title>Change Password | CyberHawkz</Title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href='{% static "assets/css/login.css" %}'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        #messages {
            background-color: whitesmoke;
            border-radius: 5px;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <div class="form">


        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input">
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
                <div class="inputBox">
                    <label for="">New Password</label>
                    <input type="password" name="new_password">
                </div>
                <div class="inputBox">
                    <label for="">Confirm Password</label>
                    <input type="password" name="confirm_password">
                </div>
                <input type="hidden" name="user_id" value="{{user_id}}">
                <div class="inputBox">
                    <input type="submit" value="Change Password">
                </div>

            </div>


        </form>

    </div>

</body>

</html>