{% extends "Dashboard/base.html" %} {% load static %} {% block content %}


            <!-- app-content-->
            <div class="app-content  my-3 my-md-5">
                <div class="side-app">
                    <!-- page-header -->
                    <div class="page-header">
                    </div>
                    <!-- End page-header -->

                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="card-body">
                                    <div class="acc-1 js-accordion  ">
                                        <div class="accordion__item js-accordion-item active">
                                            <div class="accordion-header js-accordion-header">What is DarkMon ?</div>
                                            <div class="accordion-body js-accordion-body">
                                                <div class="accordion-body__contents">
                                                    A Web Interface providing all Intelligence related Information to monitor threats accross the Web
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion__item js-accordion-item">
                                            <div class="accordion-header js-accordion-header">What kind of Information can we find ?</div>
                                            <div class="accordion-body js-accordion-body">
                                                <div class="accordion-body__contents">
                                                    Type of Data shown to you varies as per plan opted.It can range from Simple Leaked Credentials to Snapshots and Cached Contents of Sites accross several anonymous networks that were shut down by Law Enforcement
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion__item js-accordion-item">
                                            <div class="accordion-header js-accordion-header">Cannot I Manually Find/Investigate DarkWeb? </div>
                                            <div class="accordion-body js-accordion-body">
                                                <div class="accordion-body__contents">Dark Web till date has no instruction manual even for simply visiting sites normally.Our Intel is gathered accross several underground resources accross different Anonymous network. Most People simply investigate
                                                    upon results from TOR Networks. But , we never simply rely on TOR, because it is one of the Networks not the entire Network.
                                                </div>

                                            </div>
                                        </div>
                                        <div class="accordion__item js-accordion-item">
                                            <div class="accordion-header js-accordion-header">What is Indexer?</div>
                                            <div class="accordion-body js-accordion-body">
                                                <div class="accordion-body__contents">
                                                    If you need to customize our Systems to Lookout for anhy specific Page,Email,URL etc you can feed it to our Indexer. It Notifies you whenever we Index it in our DB.

                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion__item js-accordion-item">
                                            <div class="accordion-header js-accordion-header"> Who Can Use this Application?</div>
                                            <div class="accordion-body js-accordion-body">
                                                <div class="accordion-body__contents">Anyone who is into Cyber Intelligence, Cyber Forensics, OSINT, Information Security Analysts, Dark Web Researchers, Malware Analysts,i.e. anyone who is working to learn,prevent and terminate cyber threats
                                                    can use the application.
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->


                    {% endblock content %}