<!--footer-->
{% load static %}
<footer class="footer">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <h6>About</h6>
                                <p>We are an intelligence driven firm that empowers organisations with Dark Web
                                    Monitoring and Cyber Threat Mitigation. We provide custom solutions designed to add
                                    value to Organisation's Security Infrastructure.We proactively
                                    monitor threats and different threat vectors and defend your infrastructure before
                                    they reach you. </p>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <h6>Pages</h6>
                                <ul class="list-unstyled">
                                    <li><a href="javascript:;">About</a></li>
                                    <li><a href="pricing.php">Plans</a></li>
                                    <li><a href="http://cyberhawkz.com/blog">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <h6>Information</h6>
                                <ul class="list-unstyled">
                                    <li><a href="terms.php">Terms and Services</a></li>
                                    <li><a href="policy.php">Privacy Policy</a></li>
                                    <li><a href="mailto:contact@cyberhawkz.com"> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <footer class="main-footer pl-0 pr-0">
                        <div class="row">
                            <div class="col-xl-5 col-lg-12 col-md-12 footer1">
                                <p>&copy;CyberHawkz</p>
                            </div>
                            <div class="col-xl-3 col-lg-12 col-md-12 footer1">
                                <p>Made with <i class="fa fa-heart" style="color: red;"></i> in India</p>
                            </div>
                            <div class="col-xl-4 col-lg-12 col-md-12 ml-auto text-right">
                                <ul class="footer-social-list ">
                                    <li><a href="https://www.facebook.com/cyberhawkzindia"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/cyber_hawkz/"><i
                                                class="fa fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/cyberhawkz"><i
                                                class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>


<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<!-- Jquery js-->
<script src="{% static 'assets/js-dark/vendors/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js-dark/vendors/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/js-dark/vendors/circle-progress.min.js' %}"></script>
<script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %}"></script>
<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src='{% static "assets/plugins/accordion1/js/easyResponsiveTabs.js" %}'></script>
<script src='{% static "assets/js/accordiation.js" %}'></script>
<script src='{% static "assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js" %}'></script>
<script src='{% static "assets/plugins/owl-carousel/owl.carousel.js" %}'></script>
<script src='{% static "assets/plugins/owl-carousel/owl-main.js" %}'></script>
<script src='{% static "assets/plugins/chart/chart.bundle-dark.js" %}'></script>
<script src='{% static "assets/plugins/chart/utils.js" %}'></script>
<script src='{% static "assets/plugins/sidebar/sidebar.js" %}'></script>
<script src="{% static 'assets/plugins/toggle-sidebar/sidemenu.js' %}"></script>
<script src="{% static 'assets/plugins/counters/jquery.missofis-countdown.js' %}"></script>
<script src="{% static 'assets/plugins/counters/counter.js' %}"></script>
<script src='{% static "assets/js/index1.js" %}'></script>
<script src="{% static 'assets/js-dark/custom.js' %}"></script>