{% extends "Dashboard/base.html" %} {% load static %} {% load custom_tags %}{% block content %}

<div class="app-content  my-3 my-md-5">
    <div class="side-app">
        <div class="bg-white p-3 header-secondary row">
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="{% url 'ioc' %}" method="POST">
                        <div class="card-header">
                            <h3 class="card-title">IOC's Database</h3>
                        </div>
                        <div class=" card-body">
                            <div class="d-flex">
                                <div class="input-group wd-150">
                                    <div class="input-group-prepend btn btn-danger ">
                                        <i class="fa fa-2x fa-link tx-16 lh-0 op-6"></i>

                                    </div>
                                    <!-- input-group-prepend -->

                                    {% csrf_token %}
                                    <input class="form-control" id="tp3" placeholder="Search Indicators of Compromise"
                                        type="text" name="ioc_search">
                                    <button type="submit" class="btn btn btn-danger " id="setTimeButton">Search</button>
                    </form>
                </div>

                <!-- input-group -->
            </div>
            <div class="card-body text-center">
                <h5 class="mb-5">Search Filters</h5>

                <div class="btn-list text-center">
                    <a href="#" class="btn btn-danger">TOR</a>
                    <a href="#" class="btn btn-danger">I2P</a>
                    <a href="#" class="btn btn-danger">IP</a>
                    <a href="#" class="btn btn-danger">EMAIL</a>
                    <a href="#" class="btn btn-danger">URL</a>
                    <a href="#" class="btn btn-danger">Service</a>
                    <a href="#" class="btn btn-danger">KEYWORD</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5  ">
                <div class="table-responsive">
                    <div class="table-responsive">

                        <table class="table card-table text-nowrap text-dark">

                            <tbody>

                                <tr class="border-bottom">
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Labels</th>
                                    <th>valid From</th>
                                    <th></th>
                                </tr>
                                {% if not ioc_data %}
                                <tr>
                                    <td colspan="5" style="text-align: center;">No Data Found</td>
                                </tr>
                                {%endif%}
                                {% for ioc in ioc_data %}
                                <tr class="border-bottom">
                                    <td>{{ioc.name}}</td>
                                    <td>{{ioc.description}}</td>
                                    <td>
                                        {% for l in ioc.labels.all %}
                                        <span class="tag tag-blue mx-2">{{l}}</span>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <span class="tag tag-red mx-2">{{ioc.valid_from}}</span>
                                        <!-- <span class="tag tag-red  ml-2">ADA</span>
                                                        <span class="tag tag-red  ml-2">ADA</span> -->
                                    </td>

                                    <td><a href="#" class="btn btn-outline-danger">Click</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="table-footer">

                </div>
            </div>

        </div>
        <!-- app-content end -->
    </div>




    {% endblock content %}