{% extends "Dashboard/base.html" %} {% load static %} {% block title %} Pricing {% endblock title %} {% block content %}
<div class="page">
    <div class="page-main">
        <!-- app-content-->
        <div class="app-content  my-3 my-md-5">
            <div class="side-app">


                <!-- page-header -->
                <div class="page-header">

                </div>
                <!-- End page-header -->
                <h4 class="mb-5">Monthly Plans</h4>
                <!-- row -->
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">Basic</div>
                                <div class="display-5 my-4">$10</div>
                                <ul class="list-unstyled leading-loose">
                                    <li><strong>100</strong> Queries</li>
                                    <li>Email Monitoring</li>
                                    <li>Dark Web Monitoring</li>
                                    <li>Data Leakage Monitoring</li>
                                    <li>Custom Indexer</li>
                                    <li>Threat Profiler</li>
                                    <li>Email Alert</li>
                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-primary btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card">
                            <div class="card-status bg-success"></div>
                            <div class="card-body text-center">
                                <div class="card-category">Premium</div>
                                <div class="display-5 my-4">$65</div>
                                <ul class="list-unstyled leading-loose">
                                    <li><strong>10K</strong> Queries</li>
                                    <li><strong>Basic Features +</strong></li>
                                    <li>Executive Protection</li>
                                    <li>Anti-Phishing Protection</li>
                                    <li>Email/SMS Alert</li>
                                    <li>24*7 Support</li>
                                    <li>Team Training</li>
                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-success btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">Enterprise</div>
                                <div class="display-5 my-4">Contact Us</div>
                                <ul class="list-unstyled leading-loose">
                                    <li><strong>100K+</strong> Queries</li>
                                    <li><strong>Premium Features +</strong></li>
                                    <li>Brand Monitor</li>
                                    <li>Anti-Fraud Protection</li>
                                    <li>Custom Reporting Solutions</li>
                                    <li>Realtime Threat Monitoring</li>
                                    <li>Staff Training</li>
                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-danger btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                </div>
                <!-- row end -->


                <h4 class="mb-5">Annual Plans</h4>

                <!-- row -->
                <div class="row">
                    <div class="col-xs-6  col-sm-6 col-lg-6 col-xl-4 mt-2">
                        <div class="panel price  panel-color">
                            <div class=" bg-dark text-center">
                                <svg x="0" y="0" viewBox="0 0 360 220">
                                    <g>
                                        <path fill="#1753fc" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                            c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                            s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                            L0.732,193.75z"></path>
                                    </g>
                                    <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="50.4489">Personal</text>
                                </svg>
                            </div>
                            <div class="panel-body text-center">
                                <p class="lead"><strong>$8 /</strong> month</p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><strong>2.5K</strong> Queries</li>
                                <li class="list-group-item"><strong>Email</strong> Monitoring</li>
                                <li class="list-group-item"><strong>Dark Web</strong> Monitoring</li>
                                <li class="list-group-item"><strong>Data Leakage</strong> Monitoring</li>
                                <li class="list-group-item"><strong>Custom</strong> Indexer</li>
                                <li class="list-group-item"><strong>Threat</strong> Profiler</li>
                                <li class="list-group-item"><strong>Email</strong> Alert</li>
                            </ul>
                            <div class="panel-footer text-center">
                                <a class="btn btn-lg btn-primary btn-block" href="#">Purchase Now!</a>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-4 mt-2">
                        <div class="panel price  panel-color">
                            <div class=" bg-dark text-center">
                                <svg x="0" y="0" viewBox="0 0 360 220">
                                    <g>
                                        <path fill="#fdb901" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                            c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                            s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                            L0.732,193.75z"></path>
                                    </g>
                                    <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="50.4489">Premium</text>
                                </svg>
                            </div>
                            <div class="panel-body text-center">
                                <p class="lead"><strong>$55 /</strong> month</p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><strong>150K</strong> Queries</li>
                                <li class="list-group-item"><strong>Basic</strong> Features +</li>
                                <li class="list-group-item"><strong>Executive</strong> Protection</li>
                                <li class="list-group-item"><strong>Anti-Phishing</strong> Protection</li>
                                <li class="list-group-item"><strong>Email/SMS</strong> Alert</li>
                                <li class="list-group-item"><strong>24*7</strong> Support</li>
                                <li class="list-group-item"><strong>Team</strong> Training</li>
                            </ul>
                            <div class="panel-footer text-center">
                                <a class="btn btn-lg btn-warning btn-block" href="#">Purchase Now!</a>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-4  mt-2">
                        <div class="panel price  panel-color">
                            <div class="bg-dark text-center">
                                <svg x="0" y="0" viewBox="0 0 360 220">
                                    <g>
                                        <path fill="#ec2d38" d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
                                            c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
                                            s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
                                            L0.732,193.75z"></path>
                                    </g>
                                    <text transform="matrix(1 0 0 1 69.7256 116.2686)" fill="#fff" font-size="50.4489">Business</text>
                                </svg>
                            </div>
                            <div class="panel-body text-center">
                                <p class="lead"><strong>Contact</strong> Us</p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item"><strong>Unlimited</strong> Queries</li>
                                <li class="list-group-item"><strong>Premium</strong> Features +</li>
                                <li class="list-group-item"><strong>Brand</strong> Monitor</li>
                                <li class="list-group-item"><strong>Anti-Fraud</strong> Protection</li>
                                <li class="list-group-item"><strong>Custom Reporting</strong> Solutions</li>
                                <li class="list-group-item"><strong>Realtime Threat</strong> Monitoring</li>
                                <li class="list-group-item"><strong>Staff</strong> Training</li>
                            </ul>
                            <div class="panel-footer text-center">
                                <a class="btn btn-lg btn-danger btn-block" href="#">Purchase Now!</a>
                            </div>
                        </div>
                    </div>
                    <!-- col-end -->
                </div>

                {% endblock %}